<h1><%= @gig.employer %></h1>
<br>

<h3>Date: </h3>
<%= @gig.date %>
<h3>Description: </h3>
<%= @gig.description %></h3>
<h3>Payment: </h3>
$<%= @gig.payment %>
<h3>Expenses: </h3>
$<%= @gig.expenses %>



